@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

/* 禁止文本选择 */
.select-none {
  user-select: none;
  -webkit-user-select: none;
}
